*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    background-image:linear-gradient(rgb(0,0,5,0.65),rgb(0,0,0,0.7)), url(gymbg.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px ;   
    align-items: center;
    top: 0;
    position: relative;

}

.logo{
    text-decoration: none;
    color: white;
    font-size: 50px;
    position: relative;
    margin-right: 150px;
}
.navigation a{
   padding:2px 30px ;
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 25px;
}
.content{
    margin: 50px 100px;
    color: white;
}
.content h1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 52px;
    text-align: center;
}
.content p{
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}
.content h1 span{
    color: rgb(255, 149, 0);
}
button{
    color: white;
    background-color: rgb(229, 133, 0);
    border-radius: 12px;
    padding: 20px 90px;
    font-size: 28px;
    border: none;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 0.2s;
    display: flex;
    margin: auto;
    justify-content: center;
}
button:hover{
    background-color: rgb(234, 148, 0);
}
.media{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2px;

}
.media a{
    margin: 40px;
    font-size: 35px;
    transition: 0.3s;
    transition-property: transform;
}
.media a:hover{
    transform: scale(1.2);

}
label{
    display: none;
}
#check{
    z-index: 3;
    display: none;
}

@media (max-width:1380px) {
    header .navigation{
        display: none;
    }
    label{
        display: block;
        font-size: 23px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
        color: rgb(255, 149, 0);
    }
    label .close-btn{
        display: none;
        right: 30px;

    }
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        top: 0;
        left: 100px;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.851);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #check:checked ~ header .navigation a{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }
    #check:checked ~ header label .close-btn{
        display: block;
        z-index: 2;
        position: fixed;
    }
    label .menu-btn{
        position: absolute;
        right: 30px;
    }

    header .logo{
        position: absolute;
        bottom: -8px;
    }
    .content{
        margin: 50px 30px;
        text-align: center;
    }
    .content h1{
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
    }
    .content p{
        margin-bottom: 30px;
        font-size: 15px;
        margin-top: 120px;


    }
    button{
        color: white;
        background-color: rgb(229, 133, 0);
        border-radius: 10px;
        font-size: 20px;
        border: none;
        font-weight: bold;
        padding: 8px 20px;
               
    }
    .logo{
        font-size: 45px;
        margin-left: -50px;
    }
    .media a{
        margin: 10px;
        font-size: 23px;
        
    }
}

@media (max-width:560px){
    header .logo{
        position: absolute;
        bottom: 0px;
    }
    .content{
        margin-top: 3cm;
    }
    .content h1{
        font-size: 40px;
        font-weight: bold;
    }
    .content p{
        margin-top: 120px;

        margin-bottom: 20px;
        font-size: 19px;
    }
    .logo{
        font-size: 30px;
        margin-left: -70px;
    }
    .media a{
        margin-top: 65px;
        font-size: 32px;
    }
}
